.heading {
  height: 100%;
  background: #f3f3f3;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
  margin-bottom: -6px;
}
h2 {
  font-size: 2em;
  margin-left: 2px;
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
}
.main-container {
  display: flex;
  flex-flow: row wrap;
  background: #fafafa;
  height: 100%;
}
.container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin: 1em auto;
  box-shadow: 0px 0px 1px black;
}
.title-container {
  width: 20%;
}
.content-container {
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .title-container {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
}
