extends layout

block content
  div(class="mod-homepage-feature")
    div(id="home_feature" class="ft_left")
      div(class="hf_img_holder" style="background-image:url(http://rel.resultspw.com/images/medium-hero.jpg);")
  div(class="container")
    div(id="feature_text" class="ft_left" style="background: #a54399;")
      h2 Santiago Varela        
      p Web developer
      a(style="background: #7C3273;" class="btn learn" href="/online/mobile_banking/") See my repo
