extends layout

block content
  div(id="name" class="heading")
    h1 Santiago Varela
    h2 Web Designer
  div(class="main-container")
    div(class="container")
      div(class="title-container") This is the title
      div(class="content-container") This is the content
    div(class="container")
      div(class="title-container") This is the title1
      div(class="content-container") This is the content1


