doctype html
html(ng-app='resumeApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyle.css')
    link(href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css')

  body
    block content

    script(src='/angular/angular.min.js')
    script(src='/angular/resumeApp.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    
